@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  background: #0a0712;
  color: #ece7f5;
}

* {
  -webkit-font-smoothing: antialiased;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #2a2140;
  border-radius: 8px;
}
